img#sam-logo{
 width:25%;
 height: 25%;
}
.title-nav{
  margin-left:-20%;
}
#navbar-settings.navbar.navbar-light.bg-faded{
    width: 99.5%;
    height:60px; 
    margin-top:-58px !important;
    background-color: lightgray !important;
}