img#sam-icon{
  width:130px;
  height:65px;
  margin:0 auto;
  margin-top:11px;
}
.card{
  border: thin transparent !important;
  color:#909090;
}

.card:hover{
  border: 2px solid #3B9AF8 !important;
  color:#A70702;
}
.fa-usd{
  margin-left:20px;
}

.fa-line-chart{
  margin-left: -10px;
}

.btn.home{
  width:auto;
  color: black !important;
  background-color:white !important;
  position: absolute;
  margin-top: .7%;
}
#p_wrap {
    white-space: pre-line;
    margin-top:10px;
  }
a:hover{
  text-decoration: none !important;
}